.header-main {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #e2e2e2;
  background: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left svg {
  height: 16px;
  width: 16px;
}

.header-left a {
  margin-left: 20px;
  font-size: 14px;
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
  color: black;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.header-right span {
  border-bottom: 1px solid rgb(153, 153, 153);
}

.header-right button {
  background-color: rgb(51,51,51);
  border: 1px solid rgb(18,18,18);
  border-radius: 3px;
  color: rgb(255,255,255);
  line-height: 15px;
  width: 64px;
  height: 32px;
  font-weight: 600;
  padding: 3px 0 0;
  margin-left: 20px;
}

.logo {
  display: grid;
  justify-content: center;
}

.logo img {
  width: 255px;
}

article {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr) repeat(2, minmax(115px, 300px)) repeat(2, 1fr);
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
}

article h1 {
  grid-column: 3 / span 2;
  font-size: 36px;
  line-height: 3rem;
  font-family: nyt-cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: italic;
  max-width: 480px;
}

figcaption {
  font-family: nyt-imperial, Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  line-height: 1.3;
}

.wide-image {
  grid-column: 2 / span 4;
  padding-bottom: 40px;
}

.wide-image img {
  width: 100%;
}

figure span {
  display: block;
}

.figcaption-lg {
  color: #666;
  font-size: 0.94rem;
}

.figcaption-sm {
  font-size: 0.81rem;
  color: #888;
}

article header {
  grid-column: 3 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.author {
  grid-column: span 2;
  font-size: 0.94rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
}

.author a {
  color: #333;
}

.publish-date {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8rem;
}

.social {
  justify-self: end;
}

article p {
  grid-column: 3 / span 2;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-family: nyt-imperial,Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

.article-media {
  grid-column: 3 / span 2;
  margin-left: 0;
}

.article-media img {
  width: 100%;
}

.footnote {
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}

.footnote a {
  color: rgb(102, 102, 102);
}

.comments {
  grid-column: 3 / span 1;
  border-radius: 3px;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding: 5px 0;
}

.social-footer {
  grid-column: 4 / span 1;
  justify-self: end;
  align-self: center;
}

h4 {
  text-align: center;
  padding-top: 40px;
  color: #333;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.read-more {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(220px, 380px)) 1fr;
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

.article-preview:nth-child(2) {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.article-preview:first-child {
  grid-column: 2 / span 1;
}

.article-preview {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.article-preview figure {
  margin: 0;
  padding: 10px;
}

.article-preview figure figcaption {
  text-align: right;
  color: rgb(153, 153, 153);
  font-family: nyt-franklin;
  font-size: 0.6em;
}

.article-preview div {
  width: 90%;
  justify-self: center;
}

.article-preview img {
  width: 100%;
}

.article-preview h3 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  color: rgb(51,51,51);
  font-family: nyt-cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.article-preview p {
  font-family: nyt-imperial, Georgia, 'Times New Roman', Times, serif;
  line-height: 145%;
  color: rgb(85,85,85);
}

.publish-details {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: rgb(85,85,85);
  font-size: 0.88rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(110px, 190px)) 1fr;
}

.logo-small {
  grid-column: 2 / span 1;
  width: 100%;
}

.link-top-right {
  grid-column: 7 / span 1;
  color: rgb(86,123,149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  justify-self: right;
  align-self: end;
}

.column-first {
  grid-column: 2 / span 1;
}

.column-last {
  padding-left: 15px;
  border-left: 1px solid #e2e2e2;
}

.links-column h3 {
  color: rgb(51,51,51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  height: 20px;
  text-transform: uppercase;
}

.links-column ul {
  list-style: outside none none;
  padding-left: 0;
}

.links-column ul li {
  line-height: 16px;
  height: 25px;
}

.links-column ul li a {
  color: rgb(0,0,0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}